<div class="row">
  <div class="col-md-3 ">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Número de paginas web sin repeticiones</h3>
      </div>
      <div class="card-body">
        <div id="chart" #chart ref-divElement></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Top 10 de paginas visitadas</h3>
      </div>
      <div class="card-body">
        <div id="paginas" #paginas ref-divElement></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Alertas de cookies de sesión</h3>
      </div>
      <div class="card-body">
        <div id="bar" #bar ></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Número de usuarios contraseña/encontradas</h3>
      </div>
      <div class="card-body">
        <div class="form-label">
          <b>Usuarios encontrados:</b>  {{usuarios.length}}
        </div>
        <div class="form-label">
          <b>Contraseñas encontradas: </b> {{contrasenias.length}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-4 ">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Numero de cookies encontradas Google Chrome</h3>
      </div>
      <div class="card-body">
        <div id="top10" #top10></div>
      </div>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Numero de cookies encontradas Edge</h3>
      </div>
      <div class="card-body">
        <div id="top10Edge" #top10Edge></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Listado de usuarios encontrados</h3>
      </div>
      <div class="card-body">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </div>
    </div>
  </div>
</div>
