table{
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.my-table {
  width: 100%; /* Cambia esto al ancho que desees */
}
.numeral {
  width: 10px;
  text-align: center;
  align-items: center;
}
.valor {
  width: 10px;

}

.grafico{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

