<h1 class="text-center text-bg-danger p-2">Dashboard de seguridad</h1>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 ">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Número de paginas web repetidas</h3>
        </div>
        <div class="card-body">
          <div id="chart" #chart ref-divElement></div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Top 10 de paginas visitadas</h3>
        </div>
        <div class="card-body">
          <div id="paginas" #paginas ref-divElement></div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Alertas de cookies de sesión</h3>
        </div>
        <div class="card-body">
          <div id="bar" #bar ></div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Número de usuarios contraseña/encontradas</h3>
        </div>
        <div class="card-body">
          <div class="form-label">
           <b>Usuarios encontrados:</b>  {{usuarios.length}}
          </div>
          <div class="form-label">
            <b>Contraseñas encontradas: </b> {{contrasenias.length}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-4 ">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Numero de cookies encontradas Google Chrome</h3>
        </div>
        <div class="card-body">
          <div id="top10" #top10></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Numero de cookies encontradas Edge</h3>
        </div>
        <div class="card-body">
          <div id="top10Edge" #top10Edge></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Listado de usuarios encontrados</h3>
        </div>
        <div class="card-body">
          <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartOptions"
            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 card">
      <div class="card-header">
        <h2 class="text-center">Registro de cookies Firefox</h2>
      </div>
      <div class="card-body">

        <div class = 'table-responsive'>
          <mat-paginator [length]="totalFirefoxPages"
                         [pageSize]="itemsPerPageFirefox"
                         [length]="totalFirefoxPages"
                         aria-label="Select page of users"
                         [pageSizeOptions]="[5, 10, 25, 100]"
                         (page)="onPageChangeFirefox($event.pageIndex + 1)">
          </mat-paginator>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th style="width: 2%;">Nombre</th>
              <th style="width: 50%;">Valor</th>
              <th style="width: 15%;">Url</th>
              <th style="width: 25%;">Fecha</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let item of paginatedUsuarioFirefox ; let i=index">
              <td>{{(pFirefox-1)*10 + i + 1}}</td>
              <td>{{item.name}}</td>
              <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{item.value}}</td>
              <td>{{item.host}}</td>
              <td>{{item.lastAccessed}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    </div>
  </div>

  <!--tabla de navegador edge-->
  <div class="row">
    <div class="col-md-12 card">
      <div class="card-header">
        <h2 class="text-center">Registro de cookies Edge</h2>
      </div>
      <div class="card-body" >
        <div class = 'table-responsive'>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th style="width: 2%;">Nombre</th>
              <th style="width: 15%;">Valor</th>
              <th style="width: 15%;">Url</th>
              <th style="width: 25%;">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of paginatedUsuariosEdge ; let i=index">
              <td>{{(pEdge-1)*10 + i + 1}}</td>
              <td>{{item.name}}</td>
              <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{item.value}}</td>
              <td>{{item.host_key}}</td>
              <td>{{item.creation_utc}}</td>
            </tr>
          </tbody>
        </table>
          <pagination-controls class="text-center" (pageChange)="onPageChangeEdge($event)" [maxSize]="totalEdgePages"></pagination-controls>

      </div>
    </div>
    </div>
  </div>




</div>
