
<div class="row">
  <div class="col-md-3 ">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title text-center">Número total de paginas web sin repeticiones</h6>
      </div>
      <div class="card-body">
        <div id="cantidadPaginas" #cantidadPaginas></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title text-center">Alertas de cookies total de sesión</h6>
      </div>
      <div class="card-body">
        <div id="alerta" #alerta ></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title text-center">Número total de usuarios/contraaseñas </h6>
      </div>
      <div class="card-body">
        <div id="cantidadUsuarios" #cantidadUsuarios></div>
      </div>
    </div>
  </div>

  <div class="col-md-3 ">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title text-center">Numero de cookies total encontradas</h6>
      </div>
      <div class="card-body">
        <div id="cantidadCookies" #cantidadCookies></div>
      </div>
    </div>
  </div>

</div>
<div class="row ">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Comparación de cantidad de cookies y de session</h3>
      </div>
      <div class="card-body">
        <div id="container2" #container2 ref-divElement>
        </div>
      </div>
    </div>
  </div>
</div>




